<div
  class="bg-white shadow-md border-gray-200 border flex p-4 rounded-xl flex-col hover:bg-gray-100 cursor-pointer"
  [attr.data-task-id]="task.id"
  (click)="handleOpenEdit()"
>
  <div class="flex justify-between w-full">
    <div class="flex-1">
      <h3 class="text-base font-semibold truncate max-w-40">
        {{ task.title }}
      </h3>
    </div>
    <div>
      <div class="relative inline-block text-left">
        <button
          class="w-6 h-6 text-gray-500 outline-none focus:outline-none cursor-pointer"
          data-menu-button
          (click)="toggleMenu($event)"
        >
          <app-map-icon nameIcon="menu"></app-map-icon>
        </button>
        @if (isMenuOpen()) {
        <div class="task-menu-container">
          <app-task-menu
            (onClickOption)="handleChangeOption($event)"
            class="absolute right-0"
          ></app-task-menu>
        </div>
        }
      </div>
    </div>
  </div>
  <div class="flex flex-col h-20 overflow-hidden white text-gray-400">
    {{ task.description }}
  </div>

  <div class="flex justify-between mt-5">
    <div class="flex flex-col text-xs">
      <!-- <span>Initial: {{ task.startDate | date:'shortDate' }}</span>
      <span>Final: {{ task.endDate | date:'shortDate' }}</span> -->
      <div
        class="text-white px-2 py-1 rounded-md uppercase"
        [class]=" task.priority?.color"
      >
        {{ task.priority?.name }}
      </div>
    </div>
    <div class="flex -space-x-3">
      @for (user of task.users; track $index) {
      <img
        class="w-6 h-6 rounded-full border-2 border-white"
        [src]="user.thumbnail"
        [alt]="user.name"
      />
      }
    </div>
  </div>
</div>
