<div class="bg-background flex flex-col overflow-y-hidden h-dvh">
  <div
    class="bg-white h-16 flex justify-between items-center px-4 shadow-sm border-b border-gray-100"
  >
    <h3 class="text-2xl text-text">Road Map</h3>
  </div>
  <div class="flex-1 overflow-x-auto overflow-y-hidden pl-8 pt-8 pb-1">
    <div class="inline-flex h-full">
      @for (status of statusTask(); track $index) {
      <div class="h-full w-72 inline-block mr-6 align-top">
        <app-task-list [status]="status"></app-task-list>
      </div>
      }
    </div>
  </div>
</div>
