<div class="flex flex-col h-full overflow-hidden">
  <div class="flex justify-between p-3">
    <h2 class="text-xl font-semibold">Tareas</h2>
    <button matMiniFab (click)="handleChangeTask()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div
    class="flex flex-col flex-1 overflow-hidden max-h-[calc(100vh-200px)] px-2"
  >
    <div class="overflow-y-auto flex-1 flex flex-col gap-4">
      <div
        *ngFor="let task of icompletedTasks(); trackBy: trackById"
        class="flex justify-between px-2 border-gray-200 border shadow-sm p-4 rounded-xl bg-white"
      >
        <div>
          <div matListItemTitle>{{ task.description }}</div>
          <div class="text-gray-300" matListItemLine>
            {{ task.createdDate | date:'dd/MM/yyyy' }}
          </div>
        </div>
        <div class="flex gap-2 items-center">
          <mat-icon
            (click)="completedTask(task.id)"
            class="cursor-pointer !text-blue-300 hover:!text-blue-600"
            >check</mat-icon
          >
          <mat-icon class="cursor-pointer !text-red-300 hover:!text-red-700"
            >deleted</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between"></div>
</div>
